<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mi Biblioteca</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/estilo.css" />
    <link rel="stylesheet" href="/CSS/button.css" />
  </head>
  <body>
    <main style="min-height: 80vh">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/biblioteca/">#Biblioteca</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/biblioteca/"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prestamo/">Mis Libros</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Mi Cuenta</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Log Out</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="GET" action="/biblioteca/search/">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Nombre de Libro . . . "
              aria-label="Search"
              name="search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Buscar Libro
            </button>
          </form>
        </div>
        <br />
      </nav>
    </header>